@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-list-item-fail::before {
  content: "✘"; /* Puedes cambiar ✘ por el símbolo que desees */
  margin-right: 0.5rem; /* Espacio entre el indicador y el texto del elemento de lista */
}

.custom-list-item::before {
  content: "✔"; /* Puedes cambiar ✔ por el símbolo que desees */
  margin-right: 0.5rem; /* Espacio entre el indicador y el texto del elemento de lista */
}
